@font-face {
    font-family: "helveticaRoman";
    src: url("fonts/helveticaneuecyr-roman.eot");
    src: url("fonts/helveticaneuecyr-roman.eot?#iefix")format("embedded-opentype"),
    url("fonts/helveticaneuecyr-roman.woff") format("woff"),
    url("fonts/helveticaneuecyr-roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "helveticaMedium";
    src: url("fonts/helveticaneuecyr-medium.eot");
    src: url("fonts/helveticaneuecyr-medium.eot?#iefix")format("embedded-opentype"),
    url("fonts/helveticaneuecyr-medium.woff") format("woff"),
    url("fonts/helveticaneuecyr-medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "helveticaLight";
    src: url("fonts/helveticaneuecyr-light.eot");
    src: url("fonts/helveticaneuecyr-light.eot?#iefix")format("embedded-opentype"),
    url("fonts/helveticaneuecyr-light.woff") format("woff"),
    url("fonts/helveticaneuecyr-light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

html { height: 100%; padding: 0; margin: 0; }
body {
    height: 100%;
    min-width: 1180px;
    font: normal 18px/24px 'helveticaneuecyr-light', Arial, sans-serif;
    color: #323232;
    background: #fff;
    padding: 0;
    margin: 0;
    letter-spacing: 0.5px;
}
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a { text-decoration: none; color: #00a76d; }
a:hover { text-decoration: underline; }
a, a:hover, a:active, a:focus, button, button:hover, button:active, button:focus, 
input, input:hover, input:active, input:focus, textarea, textarea:hover, textarea:active, textarea:focus,
select, select:hover, select:active, select:focus {    
    outline: none;
}
b { font-weight: normal; }
p { margin: 0; padding: 0; }
sup { vertical-align: top; }
h1, h2, h3, h4 { font-weight: normal; }
.clear { height: 0px; clear: both; }
.clear5 { height: 5px; clear: both; }
.clear10 { height: 10px; clear: both; }
.clear15 { height: 15px; clear: both; }
.clear20 { height: 20px; clear: both; }
.clear30 { height: 30px; clear: both; }
.clear40 { height: 40px; clear: both; }
.hidden { display: none; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-input-placeholder {color:#737373; text-overflow:ellipsis;}
::-moz-placeholder          {color:#737373; text-overflow:ellipsis;}
:-moz-placeholder           {color:#737373; text-overflow:ellipsis;}
:-ms-input-placeholder      {color:#737373; text-overflow:ellipsis;}
img { border: none; }
button { outline: none; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    width: 100%;
    height: 45px;
    padding: 0 0 0 15px;
    font: 14px/45px "helveticaLight", Arial;
    color: #555;
    background: #fff;
    border: none;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
    border-radius: 2px;
    letter-spacing: 0.5px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus { outline: none; }
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
textarea:hover,
select:hover { outline: none; }
input[type="submit"]:focus { outline: none; }
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
textarea.error,
select.error {
    box-shadow: 0 0 18px #fc3b40, 0 0 1px #fc3b40;
}
textarea {
    width: 100%;
    min-height: 110px;
    padding: 10px 15px;
    font: 14px/22px "helveticaLight", Arial;
    color: #555;
    resize: vertical;
    vertical-align: top;    
    background: #fff;
    border: none;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.5);
    border-radius: 2px;
    letter-spacing: 0.5px;
}
.btn {
    display: block;
    height: 60px;
    background: #fc3b40;
    border: none;    
    border-radius: 5px;
    padding: 0 35px;
    font: 18px/60px "helveticaMedium", Arial;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn span {
    display: block;
    font-size: 16px;
    text-transform: none;
}
.btn:hover {
    text-decoration: none;
}

.disable-btn {
    display: none;
}

.page__wrap {
    min-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.page__inner {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;    
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    min-width: 1200px;
    height: 96px;
    z-index: 10;
    padding-top: 22px;
    background: #eef5ff;
    box-shadow: 0 1px 0px rgba(0,0,0,0.45);
    z-index: 50;
}
.header_spacer {
    height: 96px;
}
.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    float: left;    
}
.header_logo img {
    max-width: 100%;
    vertical-align: top;
}

.header_login {    
    position: relative;
    height: 42px;
    font: 16px/41px "helveticaRoman", Arial;
    font-weight: bold;
    color: #fff;    
    padding: 0 30px;    
    letter-spacing: 1px;
    background: #dd151a;   
    border-radius: 5px;
}
.header_login i {
    position: absolute;
    left: 11px;
    top: 9px;
    width: 20px;
    height: 20px;
    background: url(img/icon-sprite.png) -1px -81px no-repeat;
}

.header_switch {
    display: flex;    
    border: 1px solid #326698; 
    border-radius: 100px;
}

.header_link {
    display: block;
    color: #326698;
    font-weight: bold;    
    padding: 7px 15px;  
    border-radius: 100px;     
}

.header_link__inactive {
    background: #326698;
    color: #eef5ff; 
    box-shadow: 0 2px 5px -1px rgb(0 0 0 / 30%);
}

.header_link__choise {
    border-right: 1px solid #326698;
    border-radius: 0px;
}

.header_email {    
    position: relative;
    font: 16px/18px "helveticaRoman", Arial;
    color: #dd151a;
    margin: 12px 40px 0 0;
    padding-left: 38px;
    text-decoration: underline;
    letter-spacing: 1px;
}
.header_email:hover {
    text-decoration: none;
}
.header_email i {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 18px;
    background: url(img/icon-sprite.png) -1px -41px no-repeat;
}
.header_phone {    
    position: relative;
    font: 18px/23px "helveticaMedium", Arial;
    color: #6c6c6c;
    margin: 0px 40px 0 0;
    padding-left: 30px;
    text-decoration: none;
    letter-spacing: 1px;
}
.header_phone:hover {
    text-decoration: none;
}
.header_phone b {
    font-weight: normal;
    color: #232323;
    font-size: 22px;
    vertical-align: top;
}
.header_phone i {
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background: url(img/icon-sprite.png) 0px 0px no-repeat;
}

.main-visual {    
    padding: 100px 0;
    background: linear-gradient(57.79deg, rgb(0 0 0 / 74%) 27.19%, rgb(0 0 0 / 74%) 81.02%),
                url(img/bg1.jpg) no-repeat center center / cover;    
}

.main-visual-auto {
    background: url(img/bg2.jpg) no-repeat center center / cover; 
}

.visual {
    display: flex;
    align-items: center;
}

.visual_left {    
    width: 55%;
    padding-right: 20px;
}
.visual_right {    
    width: 45%;
    padding-left: 20px;
}
.visual_title {
    font: 36px/42px "helveticaMedium", Arial;
    color: #fff;
    text-shadow: 0 2px 3px rgb(0 0 0 / 10%);    
    text-transform: uppercase;
    margin: 0px 0 40px;
    letter-spacing: 0.5px;
}
.visual_offer {    
    color: #fff;       
    margin: 0 auto 30px auto;
    font-size: 16px;
    text-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    letter-spacing: 0.8px;
    line-height: 1.4;
}

.visual-block_btn-group {
    display: flex;
}

.visual-block_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: auto;
    margin: 20px 10px 0 0;
    text-align: center;
    padding: 19px 13px 17px;
    line-height: 20px;
    font-size: 16px;      
    letter-spacing: 0.5px;
    transition: all 100ms ease-out;  
}

.visual-block_btn:first-child:hover {
    background: #ed2a2f;
}

.visual-block_btn:nth-child(2):hover {
    background: #e3e1e1;
}

.visual-block_btn:active {
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

.visual-block_btn:nth-child(2) {
    background: #fff;
    color: #242222;
    margin-right: 0;
}

.visual-right_item {
    position: relative;
    height: 103px;
    padding: 0 10px 0 115px;
    margin-bottom: 10px;
    background: rgba(20, 77, 119, 0.8);
    font: 16px/19px "helveticaMedium", Arial;
    color: #fff;    
    letter-spacing: 1px;
    border-radius: 5px;
}
.visual-right_item:last-child {
    margin-bottom: 0;
}
.visual-right_item i {
    position: absolute;
    left: 17px;
    top: 15px;
    width: 90px;
    height: 73px;
    background: url(img/big-icons-sprite.png) 0 0 no-repeat;
}
.visual-right_item .visual-item_img1 {
    background-position: 0px 15px;
}
.visual-right_item .visual-item_img2 {
    background-position: 3px -90px;
}
.visual-right_item .visual-item_img3 {
    background-position: 5px -200px;
}
.visual-right_item .visual-item_img4 {
    background-position: 5px -302px;
}
.visual-right_item .visual-item_img5 {
    background-position: 5px -405px;
}
.visual-right_item .visual-item_img6 {
    background-position: 5px -495px;
}
.visual-right_item>div {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.visual-right_item div p {
    display: table-cell;
    vertical-align: middle;
}

.opportunities {
    display: flex;
    justify-content: space-between;
    font: 18px/24px "helveticaLight",Arial;    
}
.opportunities__wrap {
    width: 48%;
}

.opportunities__title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Raleway;
    letter-spacing: 0.005em;
}
.opportunities ul {
    margin: 0;
    padding: 0;
}
.opportunities__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 58px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 66px;
    margin-bottom: 6px;
    line-height: 22px;
    letter-spacing: 0.005em;
    padding-right: 5px; 
    font-family: Raleway;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}


.opportunities__item::before {
    content: '';
    display: block;
    width: 56px;
    height: 100%;
    background: #eee url(img/arrow-right-solid.svg) no-repeat center center;
    background-size: 21%;
    position: absolute;
    left: 0px;
    top: 0px;    
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.opportunities__item:hover {
    border-color: #326698;
}

.opportunities__item:hover::before {
    background: #326698 url(img/arrow-right-solid-white.svg) no-repeat center center;
    background-size: 21%;
}

.block-wrap {
    padding: 30px 0 100px 0;
}
.block-titling {
    font: 36px/36px "helveticaLight", Arial;
    color: #124b75;
    margin: 0 0 20px;
    text-align: center;
    letter-spacing: 0.5px;
}
.block-wrap .block-titling {
    margin: 0 0 100px;
}
.screen-block {
    margin: 0 0 70px;
}
.screen_img {
    float: right;
    overflow: hidden;
    margin-left: 50px;
}
.screen_img img {
    vertical-align: top;
    max-width: 100%;
}
.screen_text {
    overflow: hidden;
    height: 307px;
    display: table;
    vertical-align: middle;
    font: 18px/24px "helveticaLight", Arial;
    color: #323232;
    letter-spacing: 0.5px;
}
.screen_text>div {
    display: table-cell;
    vertical-align: middle;
}
.screen_text h4 {
    font-size: 24px;
    font-family: "helveticaRoman";
    color: #124b75;
    margin: 0 0 30px;
    letter-spacing: 1px;
}
.screen_text p {
    margin: 24px 0 0;
}
.left-screen .screen_img {
    float: left;
    margin: 0 50px 0 0;
}

.screen-btn {
    width: 250px;
    font-size: 16px;
    color: #326698;
    text-align: center;    
    text-transform: none;
    background: #fff;
    border: 1px solid #326698;    
    margin: 0 auto 50px;
}

.more-screens {
    display: none;
}


.benefits-block {
    padding: 0 0 80px 0;
}

.benefits-block h2 {
    margin-bottom: 70px;
}

.benefits {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.benefits__item {
    width: 450px;
    position: relative;
    background: #fff;    
    border: 1px solid #eee;
    box-shadow: #e6e6e6 0px 0px 11px 1px;
    padding: 28px 20px 27px 108px;    
    /*margin: 0 15px 30px;  */
    margin-bottom: 30px;  
}

.benefits__item:nth-child(odd) {
    margin-right: 30px;
}

.benefits__item:hover .benefit__icon {
    background: #326698;
}

.benefits__item:hover .benefit__icon i {
    color: #fff;
}

.benefits__item:hover .benefit__name {
    color: #326698;
}

.benefit__icon {
    width: 65px;
    height: 65px;
    position: absolute;
    left: 22px;
    top: 21px;
    text-align: center;
    border-radius: 50%;
    background: #eee;
    padding-top: 20px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.benefit__icon i {
    color: #326698;
    font-size: 30px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.benefit__name {
    font-family: Raleway;
    font-weight: 800;
    line-height: 25px;  
    font-size: 16px;
    color: #333333;      
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 13px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.benefit__description {
    font-family: Raleway;
    font-weight: 500;  
    line-height: 24px;
    font-size: 15px;
    color: #888888;
}

.statistics-block {
    background: #1b5580;
    background: #333;
    color: #fff;
    padding: 70px 0 50px 0;
}

.statistics {
    display: flex;
}
.statistics__item {
    width: 25%;
    text-align: center;
    padding: 0 15px;
}

.statistics__icon {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    font-size: 18px;
}
.statistics__icon svg {    
    fill: #2274c2;
}

.statistics__digits {
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;    
    margin-bottom: 17px;
    font-family: 'Raleway', sans-serif;
}

.statistics-block h4 {
    font-size: 15px;
    font-weight: 700;    
    text-transform: uppercase;
    margin: 10px 0;
    color: #ddd;
    letter-spacing: 0.005em;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
}

.reasons-block {}
.reasons {
    display: flex;
}
.reasons__item {    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33.333%;
    padding: 0 10px;
}
.reasons__icon {
    width: 140px;
    height: 140px;
    line-height: 140px;
    font-size: 40px;
    background: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out 0s;
}

.reasons__icon svg {
    transition: all 0.3s ease-in-out 0s;
}

.reasons-block h4 {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800; 
    line-height: 18px;
    text-transform: uppercase;
    color: #326698;
    margin: 30px 0;        
}

.reasons__text {
    font-family: Raleway;
    line-height: 24px;
    font-weight: 500;    
    color: #888888;
    font-size: 15px;
}

.reasons__item:hover .reasons__icon {
    background: #326698;
}

.reasons__item:hover .reasons__icon svg {
    fill: #fff;
}

.services__text {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    text-transform: uppercase;
    color: #326698;
    margin: 100px 0 0 0;
    text-align: center;
}

.services__list {
    display: flex;  
    justify-content: space-between;  
    margin-top: 50px;
}

ul.d-orange_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 31%;
}

ul.d-orange_list li {
    position: relative;
    display: block;
    margin-top: 12px;
    padding-left: 20px;    
    font: 14px/18px Raleway;
    font-weight: 700;
    color: #313131;
}

ul.d-orange_list li:before {
    content:'';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #326698;
    position: absolute;
    top: 2px;
    left: 0;
}

.reviews_block { padding: 150px 0 80px; }
.reviews_block h2 {padding: 0px; margin-bottom: 60px }
.reviews {display: flex;justify-content: space-between; flex-wrap: wrap;}
.reviews_block .review_item {width: 430px; height: 315px; margin: 0 30px 30px; }
.reviews_block .review_item .review_text {
    height: 190px; padding: 15px 20px 0; border: 1px solid #cdcdcd; border-bottom-color: #adadad; background: #fff; position: relative;
    font: 14px/22px Verdana, Tahoma; color: #214d6e;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    -webkit-box-shadow: 0 7px 13px rgba(0,0,0,0.2); -moz-box-shadow: 0 7px 13px rgba(0,0,0,0.2); box-shadow: 0 7px 13px rgba(0,0,0,0.2);
    letter-spacing: initial;
}
.reviews_block .review_item .review_text i {
    position: absolute; right: 90px; bottom: -18px;
    width: 20px; height: 18px; background: url(../css/img/review-arrow.png) center center no-repeat;
}
.reviews_block .review_item .quote-icon { float: left; width: 45px; height: 30px; margin-top: 7px; background: url(../css/img/action_cuote.png) left top no-repeat; }
.reviews_block .review_author { margin-top: 20px; }
.reviews_block .review_author-img { float: right; width: 108px; height: 108px; }
.reviews_block .review_author-img img {width: 100%;height: auto;}
.reviews_block .review_author-info { overflow: hidden; font: 14px/20px Verdana, Tahoma; color: #292929; padding: 28px 30px 0 0; text-align: right; }
.reviews_block .review_author-info .author-name { font: 22px/20px "helveticaLight", Verdana; color: #0f5080; margin-bottom: 3px; }


.start-block { padding: 50px 0 150px; }
.start-btn {margin: 0px auto;width: 350px;}


.contact-form {    
    position: relative;
    background: #1b5580;
    padding: 100px 0 0px;
}
.contact-form:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: -3px;
    height: 3px;
    background: url(img/blue-top-arrows.png) repeat-x;
}
.contact-form__wrap {
    display: flex;
}
.contact-form__content,.contact-form__img {width: 50%;}
.contact-form__img {
    position: relative;
    display: flex;    
    align-items: end;    
}
.contact-form__img img {
    position: absolute;
    height: 110%;
    width: auto;
}
.contact-form__content {
    margin-bottom: 100px;
}
.contact_inner {
    margin: 45px 0 0;
}
.contact-form .block-titling {
    color: #fff;
}
.contact-form_col {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 0px 10px 0;
}
.contact-form_col label {
    position: absolute;
    bottom: -3px;
    left: 5px;
    width: 100%;
    font: 12px/20px "helveticaRoman";
    color: #fc3b40;
}
.contact-form_col .col-item {
    position: relative;
    width: 50%;    
}
.contact-form_col .col-item:first-child {
    margin-right: 10px;
}

.contact-form_col .col-item.item-name:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 7px;
    bottom: 7px;
    width: 31px;
    border-right: 1px solid #dedede;
    background: url(img/icon-sprite.png) -1px -154px no-repeat;
}
.contact-form_col .col-item.item-email:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 7px;
    bottom: 7px;
    width: 31px;
    border-right: 1px solid #dedede;
    background: url(img/icon-sprite.png) 1px -116px no-repeat;
}
.contact-form_col .col-item input {
    padding-left: 55px;
}

.contact-form_btn {
    position: relative;
}
.block-slider {
    margin: 0 0 50px;
}
.block-slider .block-titling, .block-opportunities .block-titling, .reasons-block .block-titling {
    margin: 100px 0;
}
.slider_inner {

}
.slider_nav {
    margin: 0 0 14px;
}
.slider_nav .nav-item {
    position: relative;
    float: left;
    width: 20%;
    height: 160px;
    padding-top: 74px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #dae7f7;
    font: 18px/22px "helveticaMedium", Arial;
    color: #124b75;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.slider_nav .nav-item.active {
    background: #b81418;
    color: #fff;
}
.slider_nav .nav-item.active:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -12px;
    left: 50%;
    margin-left: -27px;
    border-style: solid;
    border-width: 12px 27px 0 27px;
    border-color: #b81417 transparent transparent transparent;
}
.slider_nav .nav-item i {
    position: absolute;
    right: -19px;
    top: 10px;
    width: 37px;
    height: 37px;
    background: url(img/icon-sprite.png) -1px -201px no-repeat;
    z-index: 10;
}
.slider_nav .nav-item span {
    position: absolute;
    top: 8px;
    height: 60px;
    left: 80px;
    right: 80px;
    background: url(img/slider-icons-sprite.png) 0 0 no-repeat;
}
.slider_nav .nav-item.item1 span {
    background-position: 0px 0px;
}
.slider_nav .nav-item.item2 span {
    background-position: -220px 0px;
}
.slider_nav .nav-item.item3 span {
    background-position: -443px 0px;
}
.slider_nav .nav-item.item4 span {
    background-position: -662px 0px;
}
.slider_nav .nav-item.item5 span {
    background-position: -884px 0px;
}
.slider_nav .nav-item.item1.active span {
    background-position: 0px -102px;
}
.slider_nav .nav-item.item2.active span {
    background-position: -220px -102px;
}
.slider_nav .nav-item.item3.active span {
    background-position: -443px -102px;
}
.slider_nav .nav-item.item4.active span {
    background-position: -662px -102px;
}
.slider_nav .nav-item.item5.active span {
    background-position: -884px -102px;
}
.slider_nav .nav-item.item1 {
    border-left: none;
}
.slider_nav .nav-item.item5 {
    border-right: none;
}
.slider-item {
    display: none;
}
.slider-item .slider-item_head {
    padding: 18px 50px 25px;
    font: 16px/19px "helveticaRoman", Arial;
    color: #565555;
    text-align: center;
    border-top: 3px solid #b81418;
    background: #eef5ff;
}
.slider-item .slider-item_head h4 {
    font: 24px/24px "helveticaRoman", Arial;
    color: #124b75;
    margin: 0;
}
.slider-item .slider-item_head p {
    max-width: 720px;
    margin: 25px auto 0;
}
.slider-item_img {
    text-align: center;
}
.exchange-block .block-titling {
    margin: 40px 0 35px;
}
.exchange-item {
    float: left;
    width: 50%;
    margin-bottom: 45px;
}
.exchange-item .item-inner {
    width: 436px;
    margin: 0 auto;
}
.exchange-item .item-img {
    border: 1px solid #95bce9;
    text-align: center;
    min-height: 159px;
    overflow: hidden;
}

.exchange-item .item-img a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 159px;
}
.exchange-item .item-img img {
    max-height: 139px;
}

.exchange-item .item-btns {
    margin: 20px 0 0;
}
.exchange-item .s-btn {
    display: block;
    float: left;
    height: 46px;
    font: 16px/46px "helveticaMedium", Arial;
    color: #fff;
    text-align: center;
    width: 135px;
    background: #215086;
    border-radius: 46px;
}
.exchange-item .blue-clr {
    margin-left: 12px;
    width: 289px;
    color: #215086;
    background: #d4e4f4;
}

.exchange-item .g-btn-inactive {
    background: #eee;
    color: #8f8e8e;
}

.footer {
    position: relative;
    padding: 30px 0 20px;
    background: #e3e3e3;
}
.footer:before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    top: -3px;
    height: 3px;
    background: url(img/blue-bot-arrows.png) repeat-x;
}
.footer_logo {
    float: left;
}
.footer_logo img {
    max-width: 100%;
    vertical-align: top;
}
.footer_logo i {
    display: inline-block;
    vertical-align: top;
    width: 28px;
    height: 30px;
    margin: 6px 4px 0 0;
    background: url(img/icon-sprite.png) -1px -260px no-repeat;
}
.footer_copyright {
    font: 14px/17px "helveticaLight", Arial;
    color: #373737;
    margin: 5px 0 0;
    letter-spacing: 0.5px;
}
.footer_email {
    float: right;
    position: relative;
    font: 16px/18px "helveticaRoman", Arial;
    color: #dd151a;
    margin: 12px 40px 0 0;
    padding-left: 38px;
    text-decoration: underline;
    letter-spacing: 1px;
}
.footer_email:hover {
    text-decoration: none;
}
.footer_email i {
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 18px;
    background: url(img/icon-sprite.png) -1px -41px no-repeat;
}
.footer_phone {
    float: right;
    position: relative;
    font: 18px/23px "helveticaMedium", Arial;
    color: #6c6c6c;
    margin: 10px 40px 0 0;
    padding-left: 30px;
    text-decoration: none;
    letter-spacing: 1px;
}
.footer_phone:hover {
    text-decoration: none;
}
.footer_phone b {
    font-weight: normal;
    color: #232323;
    font-size: 22px;
    vertical-align: top;
}
.footer_phone i {
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background: url(img/icon-sprite.png) 0px 0px no-repeat;
}
.overlay_fog {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255,255,255,0.8);
    z-index: 1000;
}


.overlay_container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;    
    top: 0;
    left: 0;
    overflow: scroll;
    z-index: 2000;
}



.overlay_wrap {
    display: none;
    /*position: fixed;*/
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -550px;
    width: 1100px;
    background: #1b5580;
    z-index: 1100;
}
.overlay_wrap:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0px;
    right: 0px;
    height: 3px;
    background: url(img/blue-top-arrows.png) -3px 0px repeat-x;
}
.overlay_wrap:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0px;
    right: 0px;
    height: 3px;
    background: url(img/blue-bottom-arrows.png) -4px 0px repeat-x;
}
.overlay_form-titling {
    font: 36px/42px "helveticaLight", Arial;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto;
    max-width: 780px;
}
.overlay_form_inner {
    margin: 50px 0 0;
}
.overlay_form {
    padding: 50px 0 40px;
    max-width: 860px;
    margin: 0 auto;
}
.overlay_close {
    position: absolute;
    top: 12px;
    right: 13px;
    width: 25px;
    height: 25px;
    background: url(img/ol-close.png) center center no-repeat;
    cursor: pointer;
}
.overlay_form_col {
    position: relative;
    float: left;
    width: 390px;
    margin: 0 20px;
}
.overlay_form_col label {
    position: absolute;
    bottom: -20px;
    left: 0px;
    width: 100%;
    font: 12px/20px "helveticaRoman";
    color: #fc3b40;
}
.overlay_form_col .col-item {
    position: relative;
    margin-bottom: 20px;
}
.overlay_form_col .col-item input,
.overlay_form_col .col-item textarea {
    padding-left: 20px;
}
.overlay_form_col .col-item textarea {
    min-height: 175px;
}
.exchange-request .col-item textarea {
    min-height: 142px;
}
.overlay_form_btn {
    margin: 10px 0 0;
    text-align: center;
}
.overlay_form_btn .btn {
    margin: 0 18px;
    display: inline-block;
    vertical-align: top;
}
.exchange-request .overlay_form_btn .btn {
    width: 235px;
}
.overlay_form_btn .btn-close {
    background: #aabecd;
    border-bottom: none;
}
.overlay_wrap .success_message {
    padding: 80px 0;
    font: 36px/42px "helveticaLight", Arial;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 auto;
    max-width: 980px;
}

.exchange-item .item-btns .bbrovar-btn-request {
    font: 14px/16px "helveticaMedium", Arial;
    padding-top: 7px;
}

.exchange-item .item-btns .second-bbrovar-btn {
    margin-left: 147px;
    margin-top: 10px;
}

/*\\\\\\\\\\Media Queries - index.html (Shippers - Грузовладельцы) //////////*/

@media screen and (max-width: 1199px) {
    body {
        min-width: 950px;
    }
    .header {
        min-width: 950px;
    }
    .page__inner {
        max-width: 950px;
    }
    .opportunities__title {
        font-size: 18px;
    }
    .slider_nav .nav-item {
        font-size: 15px;
    }
    .slider_nav .nav-item span {
        top: 10px;             
        left: 60px;
        right: 60px;
    }
    .slider-item_img img {
        width: 100%;
        height: auto;
    }
    .reviews_block .review_item {
        margin: 0 20px 30px;
    }

    .contact_inner {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }    
    .overlay_wrap {
        width: 95%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

}

@media screen and (max-width: 991px) {
    body {
        min-width: 750px;
    }
    .header {
        min-width: 750px;
        height: auto;
        padding-bottom: 15px;
    }
    .page__inner {
        max-width: 730px;
    }
    .header__info {
        flex-wrap: wrap;
    }
    .header_login {
        order: 2;
        display: flex;
        margin: 15px 0 0 auto;
    }

    .visual_left {
        width: 60%;
    }
    .visual_title {
        font-size: 28px;
        line-height: 1.2;
        margin: 0px 0 20px;
    }
    .visual_offer {
        margin: 0 auto 10px auto;    
    }
    .visual-block_btn {
        font-size: 14px;
        padding: 15px 13px 13px;
        line-height: 1.2;    
    }
    .visual_right {
        width: 40%;    
    }
    .visual-right_item {
        font-size: 13px;
        line-height: 1.2;
        padding: 0 10px 0 80px;   
    }    
    .visual-right_item i {
        background-size: 70%;
        left: 5px;
    }
     .visual-right_item .visual-item_img1 {
        background-position: 0px 22px;
    }
    .visual-right_item .visual-item_img2 {
        background-position: 3px -71px;
    }
    .visual-right_item .visual-item_img3 {
        background-position: 5px -155px;
    }      
    .visual-right_item .visual-item_img4 {
        background-position: 5px -235px;
    }
    .visual-right_item .visual-item_img5 {
        background-position: 5px -317px;
    }
    .visual-right_item .visual-item_img6 {
        background-position: 5px -387px;
    }

    .opportunities {
        flex-direction: column;
    }
    .opportunities__wrap {
        width: 100%;
    }
    .opportunities__wrap:not(:last-child) {
        margin-bottom: 30px;
    }

    .slider_nav .nav-item {
        font-size: 11px;
    }
    .slider_nav .nav-item span {                    
        left: 40px;
        right: 40px;
    }
    .benefits__item:nth-child(odd) {
        margin-right: 0px;
    }
    .benefits__item {
        width: 80%;
    }
    .screen_img {
        width: 50%;
    }
    .reviews {
        justify-content: center;
    }
    .contact-form_btn {
        width: 100%;
    }
    .contact-form_btn .btn {
        margin: 0 auto;
    }
    
    .overlay_form-titling {
        font-size: 30px;
        line-height: 35px;
    }
    .overlay_form_col {
        float: none;
        margin: 0 auto;
    }
    .contact-form__img {
        display: none;
    }
    .contact-form__content {
        width: 80%;
        margin: 0 auto 70px;
    }

}

@media screen and (max-width: 767px) {
    body {
        min-width: 690px;
    }
    .header {
        min-width: 690px;
    }
    .page__inner {
        max-width: 690px;
    }   
    .slider_nav .nav-item {
        line-height: 16px;
    }
    .reviews {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 723px) {
    body {
        min-width: 450px;
    }
    .header {
        min-width: 450px;
        height: auto;
        padding-bottom: 22px;
        position: absolute;
    }
    .page__inner {
        max-width: 450px;
    }
    .header__info {
        flex-direction: column;        
    }
    .header_login {
        margin: 25px 0 0 0;
    }
    .header_switch {
        margin-top: 40px;
    }
    .main-visual {
        padding: 180px 0 60px 0;
    }
    .visual_title {
        font-size: 30px;
        margin: 0px 0 20px;
    }
    .visual_offer {
        font-size: 20px;
    }
    .visual_left {
        float: none;
        width: 100%;
        padding-right: 0px; 
        text-align: center;       
    }
   
   .visual_right {
        display: none;
   }
    .block-slider .block-titling, .block-opportunities .block-titling, .block-wrap  .block-titling{
        margin: 30px 0;
    }
    .block-titling {
        font-size: 32px;
    }
    .opportunities {
        font-size: 15px;
        line-height: 20px;
    }
    .opportunities__title {
        font-size: 18px;
        margin-bottom: 20px;
        text-align: center;
    }
    .slider_nav {
        display: flex;
        flex-flow: wrap;
    }
    .slider_nav .nav-item {
        float: none;
        width: 150px;
    }
    .benefits-block {
        padding: 0 0 0px 0;
    }
    .benefits__item {
        width: 100%;
    }
    .block-wrap {
        padding: 30px 0 40px 0;
    }
    .block-wrap .block-titling {
        margin: 30px 0 70px 0;
    }

    .screen-block {
        display: flex;
        flex-direction: column-reverse;
    }
    .screen_img, .left-screen .screen_img {
        width: 80%;
        float: none;
        margin: 0 auto; 
    }
    .screen_text {
        
        height: auto;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .screen_text h4 {
        font-size: 22px;        
        line-height: 22px;
        text-align: center;
        margin: 0 0 15px;        
    }
    .screen_text p {
        text-align: justify;
        margin: 10px 0 0;
    }
    .statistics {
        flex-wrap: wrap;
    }
    .statistics__item {
        width: 50%;
    }
    .reasons-block .block-titling {
        margin: 70px 0 60px 0;
    }
    .reasons {
        flex-direction: column;
    }
    .reasons__item {
        width: 100%;
    }
    .reasons__item:not(:last-child) {
        margin-bottom: 40px;
    }
    .services__list {
        flex-direction: column;
        margin-top: 30px;
    }
    ul.d-orange_list {
        width: 100%;
    }
    .reviews_block .review_item {
        margin: 0 0px 30px;
    }
    .start-block {
        padding: 0px 0 100px;
    }
    .start-btn {
        width: 250px;
    }
    .contact-form {
        padding: 60px 0 0px;
    }
   
    .contact-form__content {
        width: 100%;        
    }
    .footer_logo {
        float: none;
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .footer_email {
        float: none;
        margin: 18px auto 0 auto;
        display: block;
        width: 240px;
    }
    .footer_phone {
        float: none;
        margin: 10px auto 0 auto;
        width: 235px;
    }
    .footer_copyright {
        margin: 15px 0 0;
        text-align: center;
    }
    .overlay_form_inner {
        margin: 25px 0 0;
    }    
}
@media screen and (max-width: 479px) {
    body {
        min-width: 300px;
    }
    .header {
        min-width: 300px;
    }
    .header_switch {
        font-size: 14px;
    }
    .header_link {
        padding: 5px 10px;
    }
    .header_login {
        padding: 0 20px;
        font-size: 15px;
        height: 40px;
        line-height: 40px;
    }
    .page__inner {
        max-width: 300px;
    }
    .visual_left {
        text-align: center;
    }   
    .visual_title {
        font-size: 25px;        
    }
    .visual_offer {
        font-size: 16px;
    } 
    .visual-block_btn-group {
        flex-direction: column;
        align-items: center;
    }
    .visual-block_btn {
        font-size: 14px;
        padding: 15px 20px 14px;
        margin-right: 0;
    }
    .opportunities {
        flex-direction: column;
        align-items: center;
    }
    .opportunities__wrap:first-child {
        margin-bottom: 20px;
    }
    .opportunities__title {
        text-align: center;
        font-size: 16px;
    }
    .opportunities__item {
        font-size: 14px;
        line-height: 1.1;
        height: auto;
        padding: 10px 5px 10px 66px;
    }
    .block-slider {
        margin: 0 0 30px;
    }
    .slider_nav .nav-item {
        height: 130px;
    }
    .slider-item .slider-item_head {
        padding: 18px 20px 25px;
    }
    .slider-item .slider-item_head h4 {
        font-size: 20px;
        line-height: 22px;
    }
    .slider-item .slider-item_head p {
        margin: 20px auto 0;
        font-size: 14px;
    }
    .slider-item_img {
        margin-top: 15px;
    }
    .benefits__item {
        display: flex;
        flex-direction: column;
        padding: 20px 20px 27px 20px;
        text-align: center;
    }
    .benefit__icon {
        position: relative;
        left: 0;
        top: 0;
        margin: 0 auto 15px auto;
    }
    .benefit__description {
        line-height: 1.2;
    }    
    .screen_img, .left-screen .screen_img {
        width: 100%;
    }
    .screen_text p {
        text-align: center;
    }
    .reviews_block {
        padding: 80px 0 80px;
    }
    .reviews_block .review_item {
        width: 100%;
        height: auto;
    }
    .reviews_block .review_item .review_text {
        height: auto;
        padding-bottom: 15px;
    }
    .start-btn {
        margin: 0 auto;
    }

    .contact-form_col {
        flex-direction: column;
    }
    .contact-form_col .col-item:first-child {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .contact-form_col .col-item {
        width: 100%;
    }
    .overlay_form-titling {
        font-size: 23px;
        line-height: 25px;
    }
    .overlay_form_col {
        width: 280px;
    }


}

/*\\\\\\\\\\Media Queries - carriers.html (Перевозчики) //////////*/

@media screen and (max-width: 1199px) {
    
}

@media screen and (max-width: 991px) {
   

}

@media screen and (max-width: 767px) {
    .carriers .start-btn {
        width: 300px;
    }
}

@media screen and (max-width: 479px) {
    
    .carriers .start-btn {
        width: 250px;
    }
}

/*\\\\\\\\\\Media Queries - page_choise//////////*/

@media screen and (max-width: 1199px) {
    
}

@media screen and (max-width: 991px) {
    .exchange-item {
        width: 100%;
    }
    
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 723px) {
    .exchange-block .block-titling {
        margin: 130px 0 35px;
    }
}

@media screen and (max-width: 479px) {
    .exchange-item .item-inner {
        width: 100%;
    }    
    .exchange-item .s-btn {
        float: none;
        margin: 0 auto;
    }
    .exchange-item .blue-clr {
        margin-left: auto;
        margin-top: 15px;
    }
}





/*\\\\\\\\\\Animation//////////*/


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 2s;  
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50px);   
    opacity: 0;
  }

  50% {  
    opacity: 1;
  }

  to {
    transform: translateX(0px);       
  }
}

.slideInDown {
  animation-name: slideInDown;  
}

.visual_offer.slideInDown {
    animation-delay: 0.8s;
}

.visual-block_btn:first-child.slideInDown {
    animation-delay: 1.3s;
}

.visual-block_btn:nth-child(2).slideInDown {
    animation-delay: 1.8s;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);   
    opacity: 0;
  }

   50% { 
    opacity: 1;
  }

  to {
    transform: translateY(0);  
  }
}


.slideInLeftContact{
  animation-name: slideInLeft;
  
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100px);   
    opacity: 0;
  }
 
  to {
    transform: translateX(0px);   
    opacity: 1;    
  }
}


.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-delay: 100ms;
}

.reasons__item:nth-child(2).fadeInDown, .benefit:nth-child(2).fadeInDown {    
    animation-delay: 300ms;
}

.reasons__item:nth-child(3).fadeInDown {    
    animation-delay: 600ms;
}

@keyframes fadeInDown {
  from {
    opacity: 0;    
  }

  to {
    opacity: 1;   
  }
}

